// main: ../../../App.less

.ball_item_basket_button{
  width: 2rem;
  height: 2rem;

  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: @white;
  border: 1px solid transparent;
  transition: background-color .2s linear;

  border-radius: 5px;

  margin: 10px;

  &:hover {
    background-color: @lightBackground;
  }

  &:active {
    border-color: @dark;
  }
}

.Delete_Button{
  cursor: pointer;

  width: 2rem;
  height: 2rem;

  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #EA9F9F;
  transition: background-color .2s linear;

  border-radius: 5px;

  margin: 10px;

  &:hover {
    background-color: #FF7A7A;
  }

  &:active {
    background-color: #EE5A5A;
  }
}