// main: ../../../App.less

.header {
  background-color: @white;

  width: 100%;
  max-height: 5rem;

  &:after {
    content: "";
    display: inline-block;
    background-color: @dark;

    margin: 0 3.125rem;

    bottom:-.3rem;
    left: 0;

    width: 80%;
    height: .16rem;
  }
}