// main: ../../../App.less

.Filter{
  margin: 1rem 0;

  //font-size: .6*@fontSize;
}

.Filter_Name{
  text-align: center;
  font-weight: bold;

  margin-bottom: 1rem;
  padding: 5px;

  background-color: @lightBackground;
  border-radius: 10px;
}